.dropdown {
    width: 500px;
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 30px;
    border: 2px solid #a9a9a9;
}

.dropdown:hover {
    border: 2px solid #3d3d3d;
}